h1{
  text-align: center;
}

#todo-list {
  width: 500px;
  margin: 60px auto;
}

form, .todo {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

.todo {
  display: flex;
  flex-direction: column;
}